@import '@/variables.scss';

// ------------------------------------------------------ //
// ----------------- EVENTS CARD STYLING ---------------- //
// ------------------------------------------------------ //

.eventsCardsContainer {
    position: relative;
    display: flex;
    align-items: center;
    scrollbar-width: none;
    gap: 8px;
    overflow-x: scroll;
    overflow-y: visible;
    padding: 0 30px;

    width: 100%;
    height: calc(100% + 40px);
}
.divisor {
    position: relative;
    height: calc(370px + 60px);
    background-color: #ccc;
    padding: 1px;
}

.scrollBarContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 30px;

    .scrollBar {
        width: clamp(250px, 100%, 500px);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        // background-color: #ccc;

        input {
            width: 100%;
        }
        .scrolBarThumb {
            position: absolute;
            left: 0;
            height: 30px;
            width: 30px;
            border: 2px solid #000;
            border-color: transparent #000 transparent #000;
        }
    }
    .scrollBarArrows {
        font-size: 45px;
    }
}
