@import '@/variables.scss';

// ------------------------------------------------------ //
// ----------------- EVENTS CARD STYLING ---------------- //
// ------------------------------------------------------ //

.eventsCardsContainer {
    position: relative;
    display: flex;
    align-items: center;
    scrollbar-width: none;
    gap: 8px;
    overflow-x: scroll;
    overflow-y: visible;
    padding: 0 30px;

    width: 100%;
    height: calc(100% + 40px);
}
.divisor {
    position: relative;
    height: calc(370px + 60px);
    background-color: #ccc;
    padding: 1px;
}

.scrollBar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(280px, 50%, 500px);
    height: 100%;
    margin: 0 auto;

    .scrollBarGuide {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 10px;
        background-color: #ccc;

        .scrollBarThumb {
            position: absolute;
            left: 0;
            height: 30px;

            border: 1px solid #000;
            border-color: transparent #000 transparent #000;
            cursor: pointer;
        }
    }

    .scrollBarArrows {
        font-size: 45px;
    }
}
