.curator {
    flex: 1 1 40%;
    display: flex;
    gap: 7px;
    font-size: 12px;

    .profile {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;

        .image {
            height: 70px;
            width: 70px;
            background-color: red;
        }
        .link {
            color: #000;
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .titles {
        }
        .email {
        }
    }
}
