@import '@/variables.scss';

.content {
    // position: relative;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;

    h1 {
        color: $active-color;
        font-size: clamp(70px, 10vw, 100px);

        font-weight: 400;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    @media (max-width: $mobile-width-breakpoint) {
        margin-top: 2vh;
        // min-height: calc(100dvh - 80px);
        min-height: 200%;
    }
}
