@import '@/variables.scss';

.layout {
    // ------------------- DESKTOP LAYOUT ------------------- //

    min-height: calc(100dvh + 390px);

    display: grid;
    grid-template-rows: 100px 1fr 390px;
    grid-template-areas:
        'header'
        'content'
        'footer';

    // ----------- HANDLING MOBILE RESPONSIVINESS ----------- //

    @media (max-width: $mobile-width-breakpoint) {
        grid-template-rows: 60px 1fr 850px;
    }
}

// ------------------------------------------------------ //
// ------------- GRID TEMPLATE AREA POINTERS ------------ //
// ------------------------------------------------------ //

.header {
    grid-area: header;
    // border: 1px solid #aaa;
}
.content {
    grid-area: content;

    // border: 1px solid #aaa;
}
.footer {
    grid-area: footer;
    // border: 1px solid #aaa;
}
