@import '@/variables.scss';

.logo {
    position: relative;
    height: 100%;
    top: -5px;

    h1 {
        margin-left: 3.5rem;
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.3rem;

        &:nth-of-type(1) {
            position: absolute;
            left: -4.8rem;
            top: -2px;
            font-size: 3rem;
            line-height: 3rem;

            color: #1cb9ed;
        }
    }
    p {
        font-size: 0.8rem;
    }
    @media (min-width: $tablet-width-breakpoint) {
        display: none;
    }
}
