@import '@/variables.scss';

.loadingContainer {
    height: 535px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    .message {
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }
    .loader {
        height: 6px;
        width: 130px;
        width: min(300px, 80%);
        --c: no-repeat linear-gradient(#1cb9ed 0 0);
        background: var(--c), var(--c), #ccc;
        background-size: 60% 100%;
        animation: l16 3s infinite;
    }

    @keyframes l16 {
        0% {
            background-position: -150% 0, -150% 0;
        }
        66% {
            background-position: 250% 0, -150% 0;
        }
        100% {
            background-position: 250% 0, 250% 0;
        }
    }
}
