@import '@/variables.scss';

.content {
    width: 100dvw;

    & h1 {
        font-family: $playwrite-us-trad;
        color: $active-color;
        font-size: 90px;
        font-weight: 400;
        text-align: center;
    }
}
